<div>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="javascript:void(0)">Demo</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="view-update-information">MyProfile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="submit-reimbursement">Submit A Reimbursement</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="view-pending-reimbursements">Pending Reimbursements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="display">Resolved Reimbursements</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLink="view-all-employees">View All Employees</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
</div>
