<div class="container">
    <div class="row mt-5">
        <div class="col-1">
        </div>
        <div class="col-10">
            <h2>View All Employees</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Employee Id</th>
                        <th>Manager Id</th>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Email</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of viewAllEmployees">
                        <td>{{ employee.employeeId }}</td>
                        <td>{{ employee.managerId}}</td>
                        <td>{{ employee.firstName }}</td>
                        <td>{{ employee.lastName }}</td>
                        <td>{{ employee.email }}</td>
                        <td>
                            <button 
                                type="button" 
                                class="btn btn-success"
                                (click)="goToReimbursement(employee.employeeId)">View Reimbursement
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>