<div class="container">
    <div class="row mt-5">
        <div class="col-1">
        </div>
        <div class="col-10">
            <h2>View All Employees</h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Reimbursement Id</th>
                        <th>Employee Id</th>
                        <th>Status</th>
                        <th>Amount</th>
                        <th>Reason</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let reimbursement of viewAllEmployees">
                    <tr>
                        <td>{{ reimbursement.reimbursementId }}</td>
                        <td>{{ reimbursement.employeeId }}</td>
                        <td>{{ reimbursement.status }}</td>
                        <td>{{ reimbursement.amount }}</td>
                        <td>{{ reimbursement.reason }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-1">
        </div>
    </div>
</div>