<div class="container">
    <div class="row mt-5">
        <div class="col-2">
        </div>
        <h2>Resolved Reimbursements</h2>
        <div class="col-2">
        </div>
        <h4>Approved Requests</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>REIMBURSEMENT ID</td>
                    <td>EMPLOYEE ID</td>
                    <td>MANAGER ID</td>
                    <td>STATUS</td>
                    <td>AMOUNT</td>
                    <td>REASON</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reimbursement of currentAllApprovedReimbursements">
                    <td>{{ reimbursement.reimbursementId }}</td>
                    <td>{{ reimbursement.employeeId }}</td>
                    <td>{{ reimbursement.managerId}}</td>
                    <td>{{ reimbursement.status }}</td>
                    <td>{{ reimbursement.amount }}</td>
                    <td>{{ reimbursement.reason }}</td>
                </tr>
            </tbody>
        </table>
        <div class="col-2">
        </div>
        <br>
        <h4>Denied Requests</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <td>REIMBURSEMENT ID</td>
                    <td>EMPLOYEE ID</td>
                    <td>MANAGER ID</td>
                    <td>STATUS</td>
                    <td>AMOUNT</td>
                    <td>REASON</td>
                    <td></td>
                    <td></td>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let reimbursement of currentAllDeniedReimbursements">
                    <td>{{ reimbursement.reimbursementId }}</td>
                    <td>{{ reimbursement.employeeId }}</td>
                    <td>{{ reimbursement.managerId}}</td>
                    <td>{{ reimbursement.status }}</td>
                    <td>{{ reimbursement.amount }}</td>
                    <td>{{ reimbursement.reason }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="col-2">
    </div>
</div>