<div class="container">
    <div class="row mt-5">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div>
                <div class="container">
                 <form>
                  <div class="card m-3">
                    <div class="card-header bg-warning">Profile Information</div>
                    <div class="card-body">
                        
                        <div class="mb-3 mt-3">
                            <label for="eId" class="form-label">Employee ID:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="empID"  
                                name="employeeId">
                        </div>
                        <div class="mb-3">
                            <label for="eFirstname" class="form-label">First Name:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="empFname" 
                                placeholder="Enter Your First Name" 
                                name="empFirstname"
                                >
                        </div>
                        <div class="mb-3">
                            <label for="eLastname" class="form-label">Last Name:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="empLname" 
                                placeholder="Enter Your Last Name" 
                                name="empLastname"
                                >
                        </div>
                        <div class="mb-3">
                            <label for="eEmail" class="form-label">Email:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="empEmail" 
                                placeholder="Enter Your Email" 
                                name="empEmail"
                                >
                        </div>
                        <div class="mb-3">
                            <label for="eUsername" class="form-label">Username</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="empUsername" 
                                placeholder="Enter Your Username" 
                                name="empUsername"
                                >

                        </div>

                        <button type="button" class="btn btn-primary" (click)=" updateEmpInfo()">Update Profile</button>
                    </div>
                    <div class="card-footer bg-warning">
                
                    </div>
                  </div>
                 </form>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
