<div class="container">
    <div class="row mt-5">
        <div class="col-2">
        </div>
        <div class="col-8">
            <div>
                <div class="container">
                 <form>
                  <div class="card m-3">
                    <div class="card-header bg-warning">Profile Information</div>
                    <div class="card-body">
                        
                        <div class="mb-3 mt-3">
                            <label for="eId" class="form-label">Employee ID:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="empID"  
                                name="employeeId"
                                [(ngModel)] = "newEmployee.employeeId" disabled>
                        </div>
                        <div class="mb-3">
                            <label for="eFirstname" class="form-label">First Name:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="empFname" 
                                placeholder="Enter Your First Name" 
                                name="empFirstname"
                                [(ngModel)] = "newEmployee.firstName"required
                                #empFirstname="ngModel">
                                <div *ngIf="!empFirstname.valid && empFirstname.touched" class="text-danger small">
                                    Firstname Required!
                                </div>
                        </div>
                        <div class="mb-3">
                            <label for="eLastname" class="form-label">Last Name:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="empLname" 
                                placeholder="Enter Your Last Name" 
                                name="empLastname"
                                [(ngModel)] = "newEmployee.lastName" required
                                #empLastname="ngModel">
                                <div *ngIf="!empLastname.valid && empLastname.touched" class="text-danger small">
                                    Lastname Required!
                                </div>
                        </div>
                        <div class="mb-3">
                            <label for="eEmail" class="form-label">Email:</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="empEmail" 
                                placeholder="Enter Your Email" 
                                name="empEmail"
                                [(ngModel)] = "newEmployee.email" required
                                #empEmail="ngModel">
                                <div *ngIf="!empEmail.valid && empEmail.touched" class="text-danger small">
                                    Email Required!
                                </div>
                        </div>
                        <div class="mb-3">
                            <label for="eUsername" class="form-label">Username</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="empUsername" 
                                placeholder="Enter Your Username" 
                                name="empUsername"
                                #empUsername="ngModel"
                                [(ngModel)] = "newEmployee.userName" required>
                                <div *ngIf="!empUsername.valid && empUsername.touched" class="text-danger small">
                                    Username Required!
                                </div>

                        </div>

                        <div class="mb-3">
                            <label for="ePassword" class="form-label">Password</label>
                            <input 
                                type="text" 
                                class="form-control" 
                                id="empPassword" 
                                placeholder="Enter Your Username" 
                                name="empPassword"
                                #empPassword="ngModel"
                                [(ngModel)] = "newEmployee.password" required>
                                <div *ngIf="!empPassword.valid && empPassword.touched" class="text-danger small">
                                    Password Required!
                                </div>

                        </div>

                        <button type="button" class="btn btn-primary" (click)=" updateEmpInfo()">Update Profile</button>
                    </div>
                    <div class="card-footer bg-warning">
                
                    </div>
                  </div>
                 </form>
                </div>
            </div>
        </div>
        <div class="col-2">
        </div>
    </div>
</div>
